@use 'partials/variables' as *;
@use 'partials/view-login'as *;
@import '~bootstrap/scss/bootstrap';



body {
    background-image: url('/public/assets/imgs/Bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    nav {
        background-color: $primary-bg-color;
    }

    a {
        color: $primary-text-color !important;
    }
}

.my_curriculum{
    width: 80%;
}

.my_btn {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    padding: 0.7rem 1rem ;
    border-radius: 5px;
    text-decoration: none;
    
    
}

div.my_divbox a:hover{
        background-color: $secondary-bg-color;
        color:$secondary-text-color; 
    }